.top {
    display: flex;
}
h3 {
    color: rgb(145,145,145);
    font-family: 'Roboto', sans-serif;
    align-items: flex-end;
    display: inline-flex;

}
#app {
    display: flex inline;
    margin: 30px 0px 0px 30px;
}

.city-form {
    font-size: 100%;
    vertical-align: baseline;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: 0px;
    background: 0px 0px;
}

.city-input {
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    word-wrap: break-word;
    text-rendering: geometricPrecision;
    top: 26px;
    left: 0px;
    right: 0px;
    height: 192px;
    letter-spacing: -0.035em;
    white-space: pre-wrap;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    outline: none;
}

input::placeholder {
    color: rgb(200,200,200);
  }

.get-weather-button {
    display: none;
}

.city-weather {
    font-family: 'Roboto', sans-serif;
}

.pac-icon {
    display: none;
}

.pac-item {
    margin: 0px;
    padding: 20px;
    font-size: 10px;

}
.pac-item-query {
    font-size: 20px;
}